@media only screen and (min-width: 1690px) {

  body, html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 839px) {

  #heading h1 {
    font-size: 3.9rem;
  }
}

@media only screen and (max-width: 768px) {

  #heading h1 {
    font-size: 3.7rem;
  }
}

@media only screen and (max-width: 560px) {

  body, html {
    font-size: 14px;
  }

  #heading h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 480px) {

  #heading h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-height: 800px) {

  body, html {
    margin-top: 0.5rem;
  }
}
